<%- include('includes/header') %>

<div class="container reg-page">
	<% if (locals.errors) { %>
        <% errors.forEach(function(error){ %>
            <div class="alert alert-danger"><%= error.msg %></div>
        <% }) %>
    <% } %>
    <%- messages() %>
      <form method="post" action="/newsletter" class="form-signin">
        <h2 class="form-signin-heading text-center">Newsletter</h2>
        <label class="sr-only">Username</label>
        <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
      </form>
    </div> <!-- /container -->

<%- include('includes/footer') %>